aiohttp-cors
backports.tarfile
bitsandbytes
colorful
deepspeed
grpcio
hf-transfer
httptools
hydra-core
inquirerpy
ipython
jaraco.collections
jieba
langdetect
latex2sympy2
liger-kernel
math-verify
mathruler
nvidia-cusparselt-cu12
opencensus
opencv-python-headless
pebble
peft
py-spy
pylatexenc
python-dotenv
sentence-transformers
smart-open
timeout-decorator
tomli
uvloop
virtualenv
wandb
watchfiles
websockets
word2number
vllm==0.7.2
