torch
torchvision
aiohttp-cors
bitsandbytes
colorful
gradio
grpcio
httptools
ipython
jaraco.collections
matplotlib
opencensus
opencv-python
opencv-python-headless
py-spy
python-dotenv
scikit-image
smart-open
sse-starlette
tensorboardx
timm
tomli
torch-tb-profiler
uvloop
virtualenv
wandb
watchfiles
peft
sentence-transformers
trl
hydra-core
transformers==4.45.0
deepspeed==0.16.4